{% extends 'equipment/base.html' %}
{% block content %}
    <div class="title-container">
        <h1><i class="fas fa-truck mr-1"></i> Vehicles <a class="ml-3" style="font-size: 30px;color: #444444;" href="{% url 'vehicles-create' %}"><i class="fas fa-plus"></i></a></h1>
        <p>Manage vehicle units.</p>
    </div>
    <br />
    {% for vehicle in vehicles %}
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
        <div class="card-header">
          <b>{{ vehicle.date }}</b>
        </div>
        <div class="card-body">
          <h3 class="card-title"><i class="fas fa-truck mr-1"></i> {{ vehicle.unit }}</h3>
          <p class="card-text"><b><i class="fas fa-tachometer-alt mr-1"></i> Provider Name:</b> {{ vehicle.provider_name }}</p>
          <p class="card-text"><b><i class="fas fa-gas-pump mr-1"></i> Comments:</b> {{ vehicle.comments }}</p>
          <a href="{% url 'vehicles-detail' vehicle.id %}" class="btn btn-primary"><i class="fas fa-search"></i> View</a>
        </div>
      </div>
      <br />
      {% endfor %}
{% endblock content %}