{% extends 'equipment/base.html' %}
{% block content %}
    <div class="title-container">
      <h1><i class="fas fa-search"></i> View Vehicle</h1>
      <p>Read the details of the equipment on vehicle {{ vehicle.unit }}.</p>
    </div>
    <br />
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
        <div class="card-body">
          <h2 class="card-title"><i class="fas fa-truck mr-1"></i> {{ vehicle.unit }}</h2>
          <br />
          <h4>Details</h4>
          <hr/>
          <div class="row">
              <div class="col-sm">
                <p><b><i class="fas fa-calendar-day mr-1"></i> Date:</b> {{ vehicle.date }}</p>
                <p><b><i class="fas fa-oil-can mr-1"></i> Oil Fluid:</b> {{ vehicle.date }}</p>
                <p><b><i class="fas fa-cogs mr-1"></i> Transmission Fluid:</b> {{ vehicle.date }}</p>
                <p><b><i class="fas fa-car mr-1"></i> Brake Fluid:</b> {{ vehicle.date }}</p>
                <p><b><i class="fas fa-car-side mr-1"></i>Coolant Fluid:</b> {{ vehicle.date }}</p>
                <p><b><i class="fas fa-prescription-bottle mr-1"></i> LUCAS:</b> {{ vehicle.date }}</p>
              </div>
              <div class="col-sm">
                <p><b><i class="fas fa-band-aid mr-1"></i> EMS Equipment:</b> {{ vehicle.date }}</p>
                <p><b><i class="fas fa-medkit mr-1"></i> Suction:</b> {{ vehicle.date }}</p>
                <p><b><i class="fas fa-gas-pump mr-1"></i> Front Left Tire Pressure (PSI):</b> {{ vehicle.date }}</p>
                <p><b><i class="fas fa-gas-pump mr-1"></i> Front Right Tire Pressure (PSI):</b> {{ vehicle.date }}</p>
                <p><b><i class="fas fa-gas-pump mr-1"></i> Rear Left Tire Pressure (PSI):</b> {{ vehicle.date }}</p>
                <p><b><i class="fas fa-gas-pump mr-1"></i> Rear Right Tire Pressure (PSI):</b> {{ vehicle.date }}</p>
                <p><b><i class="fas fa-signature mr-1"></i> Provider Signature:</b> {{ vehicle.date }}</p>
              </div>
          </div>
          <br />
          <h4>Comments</h4>
          <hr/>
          <p><b><i class="fas fa-comments mr-1"></i> Comments:</b> {{ vehicle.comments }}</p>
          <br />
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'vehicles-update' vehicle.id %}"><i class="fas fa-pen-alt mr-1"></i> Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1 ml-2" href="{% url 'vehicles-delete' vehicle.id %}"><i class="fas fa-trash-alt mr-1"></i> Delete</a>
        </div>
        </div>
    </div>
      <br />
{% endblock content %}