{% extends 'equipment/base.html' %}
{% block content %}
    <div class="title-container">
        <h1><i class="fas fa-capsules mr-1"></i> Narcotics <a class="ml-3" style="font-size: 30px;color: #444444;" href="{% url 'narcotics-create' %}"><i class="fas fa-plus"></i></a></h1>
        <p>Manage narcotics inventory.</p>
    </div>
    <br />
    {% for narcotic in narcotics %}
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
        <div class="card-header">
            <b>{{ narcotic.date }}</b>
        </div>
        <div class="card-body">
          <h3 class="card-title"><i class="fas fa-capsules mr-1"></i> {{ narcotic.unit }}</h3>
          <p class="card-text"><b><i class="fas fa-prescription-bottle mr-1"></i> Medication Used:</b> {{ narcotic.medication_used }}</p>
          <p class="card-text"><b><i class="fas fa-exclamation-triangle mr-1"></i> Incident #:</b> {{ narcotic.incident_number }}</p>
          <a href="{% url 'narcotics-detail' narcotic.id %}" class="btn btn-primary"><i class="fas fa-search"></i> View</a>
        </div>
      </div>
      <br />
      {% endfor %}
{% endblock content %}