{% extends 'equipment/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="title-container">
        <h1><i class="fas fa-sign-in-alt mr-1"></i> Log In</h1>
        <p>Log in to the dashboard.</p>
      </div>
      <br />
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}